html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

header,
aside,
article,
section,
footer {
    display: block;
}

a {
    color: #333333;
}

a:visited {
    color: #333333;
}

section a:hover {
    color: #009966;
}

body {}

header {
    position: relative;
    z-index: 3;
    height: 55px;
    text-align: center;
    width: 100%;
    color: #333333;
    background: #eee;
    border-bottom: 1px solid #ddd;
    /*     box-shadow: 0 1px 5px #808080;
 */
}

#logo {
    position: absolute;
    left: 50px;
    width: 55px;
    height: 55px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

#logotext {
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 35px;
    line-height: 55px;
}

#hnav {
    display: none;
}

#hnav:active {
    cursor: pointer;
    background: #009966;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}

section {
    position: absolute;
    top: 55px;
    bottom: 70px;
    width: 100%;
}

aside {
    width: 200px;
    float: left;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ddd;
    background: #f6f6f6;
}

nav {
    margin: 1px 0;
    font-size: 14px;

}

dl {
    margin: 0px;
}

dt {
    background: #eee;
/*     height: 35px;
 */    font-size: 18px;
    line-height: 35px;
    text-indent: 35px;
    border-bottom: 1px solid #ddd;
    /* border-top: 1px solid #ddd;
    outline: 1px solid #ddd;
    margin-bottom: 2px;
    box-shadow: 0 1px 5px #808080;
    border-top-color: #e9e9e9;
    border-bottom-color: #FFFFFF;
    margin-bottom: 5px;
 */

}

dt:hover {
    background: #FFFFFF;
    cursor: pointer;
    color: #009966;
}

dd {
    margin-left: 0px;
    border-bottom: 1px solid #ddd;
    background: #f6f6f6;
}

.hide {
    display: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-indent: 20px;
    /*     text-align: center;
 */
}

article {
    margin-left: 200px;
    height: 100%;
    /* overflow: auto; */
    /* padding: 5px 200px 5px 40px; */
}

#navi {
    position: absolute;
    font-size: 14px;
    right: 40px;
    width: 120px;
    line-height: 29px;
    top: 0px;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* font-weight: bold; */
    /* box-shadow: 0 2px 2px #808080; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2
}

#navi a {
    text-decoration: none;
}

header #navi {
    display: none;
}

header #navi:active {
    color: #009966;
}

#ifrcontent {
    position: relative;
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 10px;
    background: #66FFFF;
    position: absolute;
    top: 0;
    margin-top: 30px; */

}

h2 {
    font-style: 20px;
    color: #009966;
    margin: 15px 0 0 0;
    padding-left: 25px;

}

p {
    font-size: 14px;
    color: #666666;
    margin: 0;
    padding: 20px 160px 20px 100px;
    line-height: 24px;
    word-wrap: break-word;
}

section:after {
    content: '';
    display: table;
    clear: both;
}

footer {
    background: #eee;
    border-top: 1px solid #ddd;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16px;
}

footer p {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}


/* 此处因为and和旁边的左括号之间缺少一个空格,导致媒体查询不起作用 */

@media screen and (max-width: 500px) {
    aside {
        display: none;
    }
    article {
        margin: 0;
        /* overflow: hidden; */
    }
    p {
        word-wrap: break-word;
        padding: 20px 25px 20px 50px;
    }
    iframe {
        width: 100%;
    }
    .hnav {
        display: none;
    }
    #hnav {
        display: block;
        font-size: 12px;
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid #ddd;
        border-radius: 10%;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    article #navi {
        display: none;
    }
    header #navi {
        display: block;
        width: 84px;
        position: absolute;
        margin: 0;
        right: 10px;
        text-align: center;
        background: #eee;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 12px;
        top: 10px;
        height: 27px;
    }
    header #navi a {
        display: inline-block;
        height: 27px;
    }
    section {
        bottom: 55px;
    }
    #leftarr {
        background-image: url(../img/larrow.png);
        display: inline-block;
        height: 27px;
        width: 38px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #rightarr {
        background-image: url(../img/rarrow.png);
        display: inline-block;
        height: 27px;
        width: 38px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        /*                 border-left: 2px solid #ddd;
 */
    }
    dt {
        text-indent: 0;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    #logo {
        display: none;
    }
    footer {
        height: 55px;
    }
    footer p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
    }
}
