html {
    overflow: hidden;
}

body {
    background-image: url('../images/bkg.png');
    color: #33CC99;
    margin: 0;
    padding: 0;
}

h1,
h3 {
    margin: 0;
}

header {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

a {
    color: #3333CC;
}

.content {
    position: absolute;
    overflow: auto;
    color: #E7F8F8;
    background: rgba( 233, 230, 248, 0.2);
    padding: 20px;
    top: 100px;
    bottom: 100px;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}

.data {
    padding: 20px;
}

.data h3 {
    color: #E9ADA5;
}

.data p {
    margin: 0;
    line-height: 20px;
    text-indent: 30px;
    color: #D0EEF2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.seemore {
    float: right;
    color: #E4E669;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}

footer span {
    padding: 15px;
}
